<!DOCTYPE html>
<html>
<head>
    <title>930x180_expands_930x600_still_v2</title>
	{{>script-topbanner-header}}
</head>
<body>

{{>style-930x180}}

{{>topbanner-banner thor_v2_still}}

<script>
    var expandedWith = 930;
    var expandedHeight = 600;
    var collapsedWidth = expandedWith;
    var collapsedHeight = 180;
    var videoId = "success";
		{{>script-topbanner}}
</script>

</body>
</html>